@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

section{
  height: 100vh;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

header{
  color: white;
  text-align: center;
  height: 100px;
  font-size: 5rem;

  position: sticky;
  top: 0;
}

footer{
  color: white;
  text-align: center;
  height: 100px;

  position: fixed;
  bottom: 0;

  width: 100%;
  background-color: black;
}

.social{
  background-color: bisque;
  color: white;
  font: inherit;
  position: fixed;
  top: 30%;
  padding: 20px;
  z-index: 1;
}