@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute{
    background-color: #00f;
    position: absolute;
    top: 0;
    left: 0;
}
/* parent element relative olmalıdır */
/* parent element yoksa parent element body'dir */

.relative{
    background-color: #f00;
    position: relative;
    top: 100px;
    left: 100px;
}
/* parent element'i relative yapmaya gerek yoktur */

.fixed{
    background-color: green;
    position: fixed;
    top: 100px;
    left: 100px;
}
/* parent element her zaman body'dir */
/* scroll edildiğinde görünmeye devam eder */

.sticky{
    background-color: palevioletred;
    position: sticky;
    top: 100px;
    left: 100px;
}
/* scroll edildiğinde görünmeye devam etmez */

/* default olarak position = static */